@use "../../variables/utilities" as utilities;
@use "bootstrap/scss/bootstrap" as *;
.banner{
  &__swiper{
    position: relative;
  }
  &__desc{
    position: absolute;
    z-index: 1;
    bottom: 200px;
    left: 100px;
  }
}