@use "../../variables/utilities" as utilities;
@use "bootstrap/scss/bootstrap" as *;

.header {
  background-color: utilities.background("primary");
  padding: 0px 114px;
  &__topbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: repeating-linear-gradient(
        to right,
        utilities.color("primary") 0 2px,
        transparent 2px 8px
      );
    }

    &_info {
      padding-top: 20px;
      padding-bottom: 14px;
    }

    &_nav {
      padding-top: 23px;
      padding-bottom: 19px;
    }

    &_menu {
      padding-top: 23px;
      padding-bottom: 16px;
    }
  }
  &__store-info {
    line-height: 100%;
    display: flex;
    gap: 6px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      font-size: utilities.font-size("font-size-12");
      font-weight: utilities.font-weight("bold");
      font-family: utilities.font-family("default");
      color: utilities.color("primary");
      letter-spacing: 0.2%;
    }
    span {
      margin-left: 6px;
    }
  }
  &__gender-list {
    display: flex;
    gap: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      padding: 6px 12px;
      font-size: utilities.font-size("font-size-16");
      font-weight: utilities.font-weight(black);
      font-family: utilities.font-family(default);
      color: utilities.color("primary");
      text-decoration: none;
      line-height: 100%;
      letter-spacing: 0.47px;
      cursor: pointer;

      &:hover {
        background-color: utilities.color("primary");
        color: utilities.color("secondary");
      }
    }
  }
  &__logo {
    margin: 0;
    width: 216px;
    height: 23px;
  }
  &__logo-image {
    height: 100%;

    object-fit: cover;
  }
  &__icons {
    display: flex;
    gap: 8px;
    font-size: 20px;
  }
  &__menu-list {
    display: flex;
    align-items: center;
    gap: 36px;
    list-style: none;
    line-height: 18px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    a {
      font-weight: utilities.font-weight(bold);
      font-family: utilities.font-family(default);
      color: utilities.color("primary");
      padding: 6px 12px;
      text-decoration: none;
      line-height: 18px;
      cursor: pointer;
      &:hover {
        background-color: utilities.color("primary");
        color: utilities.color("secondary");
      }
    }
  }
  &__search-bar {
    position: relative;
    width: 332px;
  }
  &__search {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 85px;
    font-size: utilities.font-size("font-size-16");
    border: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    height: 40px;

    &::placeholder {
      color: utilities.color("primary");
      opacity: 1;
      line-height: 100%;
      letter-spacing: 0.2px;
      font-family: utilities.font-family(primary);
      font-weight: utilities.font-weight(regular);
      font-size: utilities.font-size("font-size-16");
    }
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &__search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-family: "icomoon";
    font-size: utilities.font-size("font-size-18");
    color: #888;
    pointer-events: none;
  }
  &__mobile {
    display: none;
    flex-direction: column;
    padding: 16px;
    gap: 12px;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }

    .header__hamburger {
      width: 28px;
      height: 28px;
      cursor: pointer;
    }

    .header__logo {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      margin: 0;

      .header__logo-image {
        height: 100%;
        object-fit: contain;
      }
    }
    .header__icons {
      display: flex;
      gap: 10px;

      a span {
        font-size: 20px;
      }
    }

    .header__search-bar {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;

      .header__search {
        width: 100%;
        padding: 8px 36px 8px 12px;
      }

      .header__search-icon {
        position: absolute;
        right: 12px;
        font-size: 18px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__topbar_menu {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 0 16px;

    &__topbar_nav,
    &__topbar_menu {
      display: none;
      flex-direction: column;
    }

    &__navigation.active {
      .header__topbar_nav,
      .header__topbar_menu {
        display: flex;
      }
    }

    &__mobile {
      display: flex;
      gap: 16px;
    }
    &__logo {
      width: 132px !important;
    }

    &__gender-list,
    &__menu-list {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
      font-family: utilities.font-family("default");
    }
    &__gender-list {
      flex-direction: row;
    }
    &__icons {
      justify-content: flex-start;
      display: none;
    }
    &__search-bar {
      width: 100%;
    }
    &__topbar_nav .header__logo {
      display: none;
    }
    &__topbar_menu .header__search-bar {
      display: none;
    }
    &__mobile-top {
      justify-content: flex-start;
      gap: 8px;
    }
    .header__topbar_info .header__store-info {
      display: none;
    }

    .header__topbar_info .header__store-info:nth-child(2) {
      display: block;
    }
  }
}
