@use "../../variables/utilities" as utilities;

.testimonials {
  padding: 100px 0;
  background-color: #fff;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 150px;
  }

  &__content {
    max-width: 420px;
  }

  &__title {
    font-size: utilities.font-size("font-size-52");
    font-weight: utilities.font-weight("bold");
    color: utilities.color("primary");
    line-height: 100%;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: utilities.font-size("font-size-22");
    font-weight: utilities.font-weight("regular");
    line-height: 34px;
    letter-spacing: 0.5px;
    color: utilities.color("primary");
    margin-bottom: 40px;
  }

  &__controls {
    display: flex;
    gap: 16px;
  }

  &__nav {
    padding: 12px 28px;
    border-radius: 50px;
    border: 1px solid utilities.color("primary");
    background: transparent;
    color: utilities.color("primary");
    font-weight: utilities.font-weight("semiBold");
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: utilities.pantone("TiffanyBlue");
      transform: translateY(-2px);
    }
  }

  &__slider {
    display: flex;
    gap: 32px;
    overflow: hidden;
    flex: 1;
  }

  @media (max-width: 1024px) {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }

    &__slider {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    padding: 50px 0;

    &__wrapper {
      flex-direction: column;
      text-align: center;
    }

    &__title {
      font-size: utilities.font-size("font-size-28");
    }

    &__controls {
      justify-content: center;
    }
  }
}

.testimonial-card {
  border-radius: 40px;
  padding: 65px;
  min-width: 420px;
  height: 393px !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  background: utilities.pantone("softPeach");
  &:hover {
    transform: translateY(-6px);
  }
  &:nth-child(even) {
    background-color: #00373e;
    .testimonial-card__text,
    .testimonial-card__author {
      color: #fff;
    }
  }
  &__text {
    font-size: utilities.font-size("font-size-20");
    font-weight: utilities.font-weight("regular");
    line-height: 26px;
    letter-spacing: 0.5px;
    color: utilities.color("primary");
    margin: 0;
    max-height: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    flex-grow: 1;
  }

  &__author {
    font-size: utilities.font-size("font-size-20");
    line-height: 26px;
    letter-spacing: 0.5px;
    font-weight: utilities.font-weight("regulard");
    color: utilities.color("primary");
  }

  @media (max-width: 768px) {
    min-width: 100%;
  }
}
