@use "sass:map";

$font-family-basic: (
  bricolage: "Bricolage",
);

$font-family: (
  primary: map-get($font-family-basic, bricolage),
);

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);
