@use "sass:map";
/*==================================
=            Typography            =
==================================*/

/**
	Define here all the typographies and sizes of the web fonts. We can use HTML tags directly or conceptual terms like title, lead...
**/

$font-family-basic: (
  din-pro: (
    "din-pro",
  ),
  titillium-web: (
    "titillium-web",
  ),
);

$font-family: (
  default: map-get($font-family-basic, din-pro),
  primary: map-get($font-family-basic, titillium-web),
);

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);
